.card{
	border-color:$border-color;
}

.cap{
	&:before{
		content:"";
		width:100%;
		height:4px;
		top:0;
		left:0;
		background-color:$gray-color;
	}
	&.blue-cap{
		&:before{
			background-color:$blue-color;
		}
	}
	&.yelow-cap{
		&:before{
			background-color:$yellow-color;
		}
	}
	&.secondary-cap{
		&:before{
			background-color:$secondary-color;
		}
	}
}

.product-card{
	transition: all .2s ease-out;
	will-change: transform;
	box-shadow: $box-shadow-elv-one;
	@include breakpoint(lg) {
		min-height: 440px;
	}

	@include breakpoint(md) {
		min-height: 450px;
	}
	@include breakpoint(sm) {
		min-height: auto;
	}

	.card-footer{
		background:transparent;
		border:none;
		padding-bottom:$baseline*2;
	}
	&:hover{
		transform: translateY(-10px);
		box-shadow: $box-shadow-elv-three;
	}
}

.move-up-card{
	transition: all .2s ease-out;
	will-change: transform;
	box-shadow: $box-shadow-elv-one;
	&:hover{
		transform: translateY(-10px);
		box-shadow: $box-shadow-elv-three;
	}
}
