// typography baselines and @font face setups

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Open+Sans:400,400i,600,600i,700');

//imports

@font-face {
    font-family: 'socialicoregular';
    src: url('../font/socialico-webfont.eot');
    src: url('../font/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/socialico-webfont.woff') format('woff'),
         url('../font/socialico-webfont.ttf') format('truetype'),
         url('../font/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'socialico_plusregular';
    src: url('../font/socialico_plus-webfont.woff2') format('woff2'),
         url('../font/socialico_plus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

//material icons

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


//text transforms

.text-uppercase{
  text-transform:uppercase;
}

//text colors

.extra-light-text-color{
  color:$extra-light-text-color;
}

.light-text-color{
  color:$light-text-color;
}

.text-color{
  color:$text-color;
}

.dark-text-color{
  color:$dark-text-color;
}

.white-text-color{
  color:white;
}

.blue-text-color{
  color:$blue-color;
}

.yellow-text-color{
  color:$yellow-color;
}

.purple-text-color{
  color:$purple-color;
}




//alerts

.text-success{
  color:$success-color;
}

.text-warning{
  color:$warning-color;
}

.text-danger{
  color:$danger-color;
}

//links

.link-color{
  color:$link-color;
}




//font families



.regular-font{
    font-weight:400;
}

.medium-font{
    font-weight:600;
}

.bold-font{
    font-weight:700;
}

.extra-bold-font{
    font-weight:800;
}

//font-family

.body-font-name{
  font-family:$body-font-name;
}

.regular-font-name{
  font-family:$regular-font-name;
}



//social

.social-font-name{
  font-family:$social-font-name;
}


//font color

.primary-text-color{
  color:$primary-color!important;
}

.secondary-text-color{
  color:$secondary-color!important;
}



//font size

.micro-text{
  font-size:0.7rem;
}


//font base

/* Responsive margins */


h1, h2, h3, h4, h5, h6 {
  margin: calc(12px + 1.05vw) 0; 
  line-height: 1.3;
}


p{
  line-height: 1.6;
}

h1, h2, h3, h4{
  &.market{
    font-weight: 800;
    font-family:$regular-font-name;
    color:$primary-color;
  }
}

h1{
  font-size:1.875rem; //30px

  &.market{
    font-size:3.75rem; //60px

  }
}

h2{
  font-size:1.5rem; //24px

  &.market{
    font-size:2.625rem; //42px

  }
}

h3{
  font-size:1.063rem; //17px

  &.market{
    font-size:2.188rem; //35px

  }
}

h4{
  font-size:0.875rem; //14px

  &.market{
    font-size:1.563rem; //25px

  }
}

h5{
  font-size:0.75rem; //12px

}

h6{
  font-size:0.5rem; //8px

}

p{
  font-family:$body-font-name;
  &.body-large{
    font-size:1.313rem; //21px

  }
}

//flourishes

.line-above{
  &:before{
    content:"";
    background:$light-text-color;
    position:absolute;
    top:-10px;
    left:0;
    width:30px;
    height:1px;
  }
}

.border-flourish{
  width:50%;
  height:3px;
  margin:0 auto;
  background-color:$off-white-darker-color;
  margin-top:55px;
}

.border-flourish-below{
  width:52px;
  height:3px;
  background-color:$off-white-darker-color;
  margin-top:20px;
  margin-bottom:20px;
}








//lists



//mobile

  @include breakpoint(md) {

    html{
      font-size: 14px;
    }

    // h1.market, h2.market, h3.market, h4.market, h5.market, h6.market, h1, h2, h3, h4, h5, h6, p, p.body-large {
    //   font-size: 1em;
    // }

  }


  @include breakpoint(sm) {
    .text-align-center-sm{
      text-align:center!important;
    }

  }
