%footer#primary-footer
	.container
		.row
			.col
				%h4.text-center.no-margin-bottom.footer-text
					%img.half-margin-right{:src=>"../images/icon-energy.svg"}
					EverCheck now offsets 100% of our energy consumption with renewable energy certificates.
					%a{:href=>"#"}
						Learn about sustainability
		.divider.double-margin-top.double-margin-bottom
		.row
			.col-12.col-md
				%img.double-margin-bottom{:src=>"../images/logo-white.svg"}
			.col-6.col-md-2
				.nav.flex-column.links-section
					%h5.bold-font
						Company
					%a.nav-link{:href=>"#"}
						About us
					%a.nav-link{:href=>"#"}
						Jobs
					%a.nav-link{:href=>"#"}
						Contact
					%a.nav-link{:href=>"#"}
						Status

			.col-6.col-md
				.nav.flex-column.links-section
					%h5.bold-font
						Learn
					%a.nav-link{:href=>"#"}
						Resources
					%a.nav-link{:href=>"#"}
						Blog
					%a.nav-link{:href=>"#"}
						FAQ
					%a.nav-link{:href=>"#"}
						Sustainability
			.col-6.col-md
				.nav.flex-column.links-section
					%h5.bold-font
						Platform
					%a.nav-link{:href=>"#"}
						Overview
					%a.nav-link{:href=>"#"}
						HR
					%a.nav-link{:href=>"#"}
						Education
					%a.nav-link{:href=>"#"}
						EverCheck Wallet
					%a.nav-link{:href=>"#"}
						Security
			.col-6.col-md
				.nav.flex-column.links-section
					%h5.bold-font
						Support
					%a.nav-link{:href=>"#"}
						1-888-404-7996
					%a.nav-link{:href=>"#"}
						Support@evercheck.com
					%a.nav-link{:href=>"#"}
						Terms & Privacy
					%a.nav-link{:href=>"#"}
						Report a violation
		.divider.margin-top.double-margin-bottom
		.row
			.col
				%h5.footer-text.no-margin-bottom
					© EverCheck 2018 
			.col
				%h5.no-margin-bottom.text-right
					%a{:href=>"#"}
						%img.margin-right{:src=>"../images/social-insta.svg"}
					%a{:href=>"#"}
						%img.margin-right{:src=>"../images/social-facebook.svg"}
					%a{:href=>"#"}
						%img.margin-right{:src=>"../images/social-twitter.svg"}
					%a{:href=>"#"}
						%img.margin-right{:src=>"../images/social-linkedin.svg"}


