
%nav.navbar.navbar-expand-lg.navbar-light#primary-nav
	.container
		%a.navbar-brand.brand{:href => "/"} 
			%img{:src=>"../images/logo.svg", :width=>"153px"}
		%form.form-inline
			.d-none.d-sm-block.d-lg-none
				%button.btn.btn-primary.btn-sm.half-margin-right{:type => "submit"} 
					Request a demo
			%button.tcon.tcon-menu--xcross.menu-button.toggle-menu-button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
				%span.tcon-menu__lines{"aria-hidden" => "true"}
				%span.tcon-visuallyhidden
					toggle menu
		#navbarSupportedContent.collapse.navbar-collapse
			%ul.navbar-nav.mr-auto
				%li.nav-item.dropdown
					%a#navbarDropdown.nav-link.text-color{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
						Solutions
						%i.material-icons.dropdown-caret
							keyboard_arrow_down
					.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
						%a.dropdown-item.padding-top.padding-bottom{:href => "#"} 
							.media
								%img.margin-right{:src=>"../images/menu-icon-overview.svg"}
								.media-body
									%p.mt-0.bold-font.no-margin-bottom.secondary-text-color
										Platform overview
									%h4.no-margin-bottom.extra-light-text-color
										Integrated solutions for the modern healthcare workforce.
						.dropdown-divider.no-margin
						%a.dropdown-item.padding-top.padding-bottom{:href => "/hr"} 
							.media
								%img.margin-right{:src=>"../images/menu-icon-hr.svg"}
								.media-body
									%p.mt-0.bold-font.no-margin-bottom.blue-text-color
										Human resources
									%h4.no-margin-bottom.extra-light-text-color
										A higher standard for primary source verification.
						%a.dropdown-item.padding-top.padding-bottom{:href => "#"} 
							.media
								%img.margin-right{:src=>"../images/menu-icon-education.svg"}
								.media-body
									%p.mt-0.bold-font.no-margin-bottom.yellow-text-color
										Education
									%h4.no-margin-bottom.extra-light-text-color
										Track, manage, and create continuing education.
						%a.dropdown-item.padding-top.padding-bottom{:href => "#"} 
							.media
								%img.margin-right{:src=>"../images/menu-icon-wallet.svg"}
								.media-body
									%p.mt-0.bold-font.no-margin-bottom.secondary-text-color
										EverCheck Wallet
									%h4.no-margin-bottom.extra-light-text-color
										Empowering healthcare professionals with mobile technology.
				%li.nav-item.dropdown
					%a#navbarDropdown.nav-link.text-color{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
						Use cases
						%i.material-icons.dropdown-caret
							keyboard_arrow_down
					.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
						%a.dropdown-item.padding-top.padding-bottom{:href => "#"} 
							.media
								.media-body
									%p.mt-0.bold-font.no-margin-bottom
										Track CE and verify licensure
									%h4.extra-light-text-color.margin-bottom
										Track continuing education and capture license renewals automatically.
									%h4.extra-light-text-color.no-margin-bottom
										Powered by 
										%img{:src=>"../images/product-icon-education.svg"}
										Education +
										%img{:src=>"../images/product-icon-wallet.svg"} 
										Wallet + 
										%img{:src=>"../images/product-icon-hr.svg"} 
										HR
						
				%li.nav-item
					%a.nav-link.text-color{:href => "#"}
						Resources
				%li.nav-item
					%a.nav-link.text-color{:href => "#"} 
						Pricing
			.action-buttons
				%form.form-inline
					%button.btn.btn-primary.btn-sm.half-margin-right{:type => "submit"} 
						Request a demo
					%button.btn.btn-secondary.btn-sm{:type => "submit"} 
						Sign in




/ #primary-nav.navbar-page-top
/ 	.container
/ 		.row.align-items-center
/ 			.col-9.col-lg-8
/ 				.nav.align-items-center
/ 					.nav-item.margin-right
/ 						%a.brand{:href=>"/"}
/ 							%img{:src=>"../images/logo.svg", :width=>"153px"}
/ 					.nav-item
/ 						%a.nav-link.text-color{:href=>"#"}
/ 							Solutions
/ 					.nav-item
/ 						%a.nav-link.text-color{:href=>"#"}
/ 							Use cases
/ 					.nav-item
/ 						%a.nav-link.text-color{:href=>"#"}
/ 							Resources
/ 					.nav-item
/ 						%a.nav-link.text-color{:href=>"#"}
/ 							Pricing
/ 			.col-3.col-lg-4
/ 				.nav.justify-content-end.align-items-center
/ 					.nav-item.margin-right
/ 						%a.btn.btn-primary.btn-sm{:href=>"#"}
/ 							Request a demo
/ 					.nav-item
/ 						%a.btn.btn-secondary.btn-sm{:href=>"#"}
/ 							Sign in
/ 					.nav-item.d-block.d-lg-none
/ 						%button.nav-link.tcon.tcon-menu--xcross.menu-button.toggle-menu-button{:type => "button"}
/ 							%span.tcon-menu__lines{"aria-hidden" => "true"}
/ 							%span.tcon-visuallyhidden
/ 								toggle menu
