@import url(lib/bootstrap.min.css);
@import url(lib/swiper.min.css);
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i|Open+Sans:400,400i,600,600i,700");
@media (max-width: 768px) {
  .no-padding-top-sm {
    padding-top: 0; } }
section.inverse-section h1, section.inverse-section h2, section.inverse-section h3, section.inverse-section h4, section.inverse-section h5, section.inverse-section h6, section.inverse-section p, section.inverse-section small, section.inverse-section li {
  color: white !important; }

* {
  margin: 0;
  padding: 0; }

html {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font: 100%;
  font-size: 16px;
  color: #282E2E;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  line-height: 1.6;
  height: 100%;
  text-rendering: optimizeLegibility;
  zoom: 1;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #fff;
  padding-top: 73px;
  position: relative;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flex {
  display: flex; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
.flex {
  display: flex; }

.eq {
  flex: 1; }

img {
  height: auto; }

.base-line-height {
  line-height: 16px; }

.small-line-height {
  line-height: 18px; }

.full-width {
  width: 100%; }

.max-width {
  max-width: 100%; }

.display-block {
  display: block; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.light-bg-color {
  background: #F3F6F6; }

.primary-bg-color {
  background: #0F3166; }

.primary-light-bg-color {
  background: #4F99DE; }

.off-white-bg-color {
  background: #F9FAFC !important; }

.overflow-visible {
  overflow: visible !important; }

.divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #E6E8EC; }

@font-face {
  font-family: 'socialicoregular';
  src: url("../font/socialico-webfont.eot");
  src: url("../font/socialico-webfont.eot?#iefix") format("embedded-opentype"), url("../font/socialico-webfont.woff") format("woff"), url("../font/socialico-webfont.ttf") format("truetype"), url("../font/socialico-webfont.svg#socialicoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'socialico_plusregular';
  src: url("../font/socialico_plus-webfont.woff2") format("woff2"), url("../font/socialico_plus-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.text-uppercase {
  text-transform: uppercase; }

.extra-light-text-color {
  color: #607B7B; }

.light-text-color {
  color: #4B5353; }

.text-color {
  color: #282E2E; }

.dark-text-color {
  color: #1D2121; }

.white-text-color {
  color: white; }

.blue-text-color {
  color: #3C6CB7; }

.yellow-text-color {
  color: #F3A02B; }

.purple-text-color {
  color: #6A5297; }

.text-success {
  color: #00A950; }

.text-warning {
  color: #FFAA00; }

.text-danger {
  color: #DE350B; }

.link-color {
  color: #0073E9; }

.regular-font {
  font-weight: 400; }

.medium-font {
  font-weight: 600; }

.bold-font {
  font-weight: 700; }

.extra-bold-font {
  font-weight: 800; }

.body-font-name {
  font-family: "Open Sans", sans-serif; }

.regular-font-name {
  font-family: "Montserrat", sans-serif; }

.social-font-name {
  font-family: "socialicoregular", "Helvetica", serif; }

.primary-text-color {
  color: #0F3166 !important; }

.secondary-text-color {
  color: #00CA93 !important; }

.micro-text {
  font-size: 0.7rem; }

/* Responsive margins */
h1, h2, h3, h4, h5, h6 {
  margin: calc(12px + 1.05vw) 0;
  line-height: 1.3; }

p, h3 {
  line-height: 1.6; }

h1.market, h2.market, h3.market, h4.market {
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  color: #0F3166; }

h1 {
  font-size: 1.875rem; }
  h1.market {
    font-size: 3.75rem; }

h2 {
  font-size: 1.5rem; }
  h2.market {
    font-size: 2.625rem; }

h3 {
  font-size: 1.063rem; }
  h3.market {
    font-size: 2.188rem; }

h4 {
  font-size: 0.875rem; }
  h4.market {
    font-size: 1.563rem; }

h5 {
  font-size: 0.75rem; }

h6 {
  font-size: 0.5rem; }

p {
  font-family: "Open Sans", sans-serif; }
  p.body-large {
    font-size: 1.313rem; }

.line-above:before {
  content: "";
  background: #4B5353;
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 1px; }

.border-flourish {
  width: 50%;
  height: 3px;
  margin: 0 auto;
  background-color: #E6E8EC;
  margin-top: 55px; }

.border-flourish-below {
  width: 52px;
  height: 3px;
  background-color: #E6E8EC;
  margin-top: 20px;
  margin-bottom: 20px; }

@media (max-width: 991px) {
  html {
    font-size: 14px; }

  h1.market {
    font-size: 2.75em; } }
@media (max-width: 768px) {
  .text-align-center-sm {
    text-align: center !important; } }
a {
  color: #0073E9; }
  a:active, a:focus {
    outline: none;
    box-shadow: none; }
  a:hover {
    color: #4d9df0;
    text-decoration: none; }

.btn {
  border-radius: 3px;
  font-weight: 700;
  font-size: 16px;
  min-width: 88px;
  padding: 8px 16px; }
  .btn i {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-right: 10px; }
  .btn.btn-link {
    border: none;
    border-bottom: 1px solid #0073E9;
    border-radius: 0px;
    min-width: auto;
    padding: 4px 0px; }
    .btn.btn-link:hover {
      text-decoration: none;
      color: #0051a3 !important;
      border-bottom-color: #0051a3; }
    @media (max-width: 768px) {
      .btn.btn-link {
        border: none;
        white-space: initial; } }
  .btn.btn-primary {
    background: #0073E9;
    border-color: #0073E9; }
    .btn.btn-primary:hover {
      background: #005cba;
      border-color: #005cba; }
  .btn.btn-secondary {
    background: white;
    border-color: #BEC6C6;
    color: #282E2E; }
    .btn.btn-secondary:active {
      border-color: #131414;
      background: #F3F6F6 !important;
      color: #282E2E !important; }
    .btn.btn-secondary:hover {
      background: #F3F6F6; }
  .btn.btn-white {
    background: white;
    color: #326EC4;
    font-weight: 700; }
  .btn.btn-shadow {
    box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.09); }
  .btn.btn-danger {
    background: #DE350B;
    border-color: #DE350B; }
    .btn.btn-danger:hover {
      background: #b22a09;
      border-color: #b22a09; }
  .btn.btn-success {
    background: #00A950;
    border-color: #00A950; }
    .btn.btn-success:hover {
      background: #008740;
      border-color: #008740; }
  .btn.btn-warning {
    background: #FFAA00;
    border-color: #FFAA00;
    color: white; }
    .btn.btn-warning:hover {
      background: #cc8800;
      border-color: #cc8800; }
  .btn.btn-flat {
    background: transparent;
    border-color: white;
    color: #282E2E; }
    .btn.btn-flat:hover {
      background: #cccccc;
      border-color: #cccccc; }
  .btn.btn-link {
    color: #0073E9; }
    .btn.btn-link:hover {
      color: #0068d2; }
  .btn.btn-icon {
    line-height: 1; }
    .btn.btn-icon i {
      color: #BEC6C6; }
    .btn.btn-icon:hover i, .btn.btn-icon:focus i {
      color: #131414; }
  .btn.btn-outline-light:hover {
    color: #0073E9; }
  .btn.btn-outline-primary {
    color: white;
    border-color: #00CA93; }
    .btn.btn-outline-primary:hover {
      background: #00CA93;
      color: white; }
    .btn.btn-outline-primary:active {
      border-color: #00CA93;
      background: #007958 !important; }
  .btn.btn-outline-link {
    color: #0073E9;
    border-color: #0073E9; }
    .btn.btn-outline-link:hover {
      background: #0073E9;
      color: white; }
    .btn.btn-outline-link:active {
      border-color: #0073E9;
      background: #00458c !important; }
  .btn.btn-light {
    color: #0073E9;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    background: #fff;
    border: none; }
    .btn.btn-light:hover {
      background: #F9FAFC;
      border: none; }
  .btn.btn-dark {
    background: #282E2E; }
    .btn.btn-dark:hover {
      background: black !important; }
  .btn.btn-lg {
    padding: .8rem 1rem; }
  .btn.btn-sm {
    font-size: 14px; }
  .btn.btn-scroll {
    color: rgba(255, 255, 255, 0.5); }
    .btn.btn-scroll:hover {
      color: white; }
    .btn.btn-scroll i {
      font-size: 52px; }
    .btn.btn-scroll:active, .btn.btn-scroll:focus {
      outline: none;
      box-shadow: none; }
  .btn.btn-outline-light {
    color: white !important; }
    .btn.btn-outline-light.active {
      background: transparent !important; }
    .btn.btn-outline-light:hover {
      color: #0F3166 !important;
      background: white !important; }

@media (max-width: 576px) {
  .btn-pair .btn {
    width: 100%;
    margin-top: 10px; } }

@media (max-width: 768px) {
  .btn-block-sm {
    width: 100% !important; } }
.margin-auto {
  margin: 0 auto; }

.margin {
  margin: 16px !important; }

.margin-top {
  margin-top: 16px !important; }

.margin-right {
  margin-right: 16px !important; }

.margin-bottom {
  margin-bottom: 16px !important; }

.margin-left {
  margin-left: 16px !important; }

.double-margin-top {
  margin-top: 32px !important; }

.double-margin-right {
  margin-right: 32px !important; }

.double-margin-bottom {
  margin-bottom: 32px !important; }

.double-margin-left {
  margin-left: 32px !important; }

.triple-margin-top {
  margin-top: 48px !important; }

.triple-margin-right {
  margin-right: 48px !important; }

.triple-margin-bottom {
  margin-bottom: 48px !important; }

.triple-margin-left {
  margin-left: 48px !important; }

.half-margin-top {
  margin-top: 8px !important; }

.half-margin-right {
  margin-right: 8px !important; }

.half-margin-bottom {
  margin-bottom: 8px !important; }

.half-margin-left {
  margin-left: 8px !important; }

.quarter-margin-top {
  margin-top: 4px !important; }

.quarter-margin-right {
  margin-right: 4px !important; }

.quarter-margin-bottom {
  margin-bottom: 4px !important; }

.quarter-margin-left {
  margin-left: 4px !important; }

.no-margin {
  margin: 0px !important; }

.no-margin-top {
  margin-top: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin-left {
  margin-left: 0px !important; }

.large-margin-top {
  margin-top: 48px !important; }

.padded {
  padding: 16px !important; }

.padding-top {
  padding-top: 16px !important; }

.padding-right {
  padding-right: 16px !important; }

.padding-bottom {
  padding-bottom: 16px !important; }

.padding-left {
  padding-left: 16px !important; }

.double-padded {
  padding: 32px !important; }

.double-padding-top {
  padding-top: 32px !important; }

.double-padding-right {
  padding-right: 32px !important; }

.double-padding-bottom {
  padding-bottom: 32px !important; }

.double-padding-left {
  padding-left: 32px !important; }

.triple-padding-top {
  padding-top: 48px !important; }

.triple-padding-right {
  padding-right: 48px !important; }

.triple-padding-bottom {
  padding-bottom: 48px !important; }

.triple-padding-left {
  padding-left: 48px !important; }

.no-padding {
  padding: 0px !important; }

.no-padding-top {
  padding-top: 0px !important; }

.no-padding-right {
  padding-right: 0px !important; }

.no-padding-bottom {
  padding-bottom: 0px !important; }

.no-padding-left {
  padding-left: 0px !important; }

.half-padding {
  padding: 8px !important; }

.half-padding-top {
  padding-top: 8px !important; }

.half-padding-right {
  padding-right: 8px !important; }

.half-padding-bottom {
  padding-bottom: 8px !important; }

.half-padding-left {
  padding-left: 8px !important; }

.quarter-padding {
  padding: 4px !important; }

.quarter-padding-top {
  padding-top: 4px !important; }

.quarter-padding-right {
  padding-right: 4px !important; }

.quarter-padding-bottom {
  padding-bottom: 4px !important; }

.quarter-padding-left {
  padding-left: 4px !important; }

.no-border-top {
  border-top: none !important; }

.no-border-bottom {
  border-bottom: none !important; }

section {
  padding: 48px 0; }
  @media (max-width: 991px) {
    section {
      padding: 48px 0; } }
  section.inverse-section {
    background: #0F3166; }
    section.inverse-section .line-above:before {
      background: rgba(255, 255, 255, 0.5); }

.swiper-section {
  overflow: hidden;
  padding-bottom: 128px;
  padding-top: 32px; }
  @media (max-width: 991px) {
    .swiper-section {
      padding-bottom: 96px;
      padding-top: 10px; } }

.swiper-container {
  overflow: visible; }
  .swiper-container .swiper-slide {
    opacity: .2; }
    .swiper-container .swiper-slide.swiper-slide-active {
      opacity: 1;
      padding: 0 40px; }
      @media (max-width: 991px) {
        .swiper-container .swiper-slide.swiper-slide-active {
          padding: 0; } }
    .swiper-container .swiper-slide .slide-inner {
      background: #FFFFFF;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04);
      border-radius: 10px;
      padding: 0 40px; }
      @media (max-width: 768px) {
        .swiper-container .swiper-slide .slide-inner {
          padding: 0 20px; } }
      .swiper-container .swiper-slide .slide-inner .swiper-content-wrapper {
        padding: 48px; }
        @media (max-width: 1200px) {
          .swiper-container .swiper-slide .slide-inner .swiper-content-wrapper {
            padding: 16px;
            padding-left: 16px; } }
        @media (max-width: 991px) {
          .swiper-container .swiper-slide .slide-inner .swiper-content-wrapper {
            padding: 32px 16px;
            padding-left: 16px; } }
        @media (max-width: 768px) {
          .swiper-container .swiper-slide .slide-inner .swiper-content-wrapper {
            padding: 20px 10px 16px 10px; } }

.swiper-button-prev, .swiper-button-next {
  background-color: #0073E9;
  padding: 32px;
  border-radius: 100px;
  background-size: 20%;
  margin-top: -35px; }

.swiper-button-prev {
  background-image: url("../images/slider-nav-left.svg"); }
  @media (max-width: 991px) {
    .swiper-button-prev {
      margin-left: -40px; } }
  @media (max-width: 768px) {
    .swiper-button-prev {
      display: none !important; } }

.swiper-button-next {
  background-image: url("../images/slider-nav-right.svg"); }
  @media (max-width: 991px) {
    .swiper-button-next {
      margin-right: -40px; } }
  @media (max-width: 768px) {
    .swiper-button-next {
      display: none !important; } }

.swiper-pagination-bullets {
  bottom: -60px !important; }
  .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 12px;
    height: 12px; }

.dropdown.drpdown-hover:hover .dropdown-menu {
  display: block; }
.dropdown .dropdown-caret {
  font-size: 14px;
  top: 3px;
  position: relative;
  color: #607B7B; }

.dropdown-menu {
  border-color: #E6E8EC; }
  .dropdown-menu .dropdown-divider {
    border-color: #E6E8EC; }
  .dropdown-menu a.dropdown-item:hover {
    background-color: #F3F6F6; }
  .dropdown-menu a.dropdown-item:active {
    background-color: #F3F6F6; }

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block; }

@media (min-width: 1200px) {
  .mw-xl-130 {
    max-width: 130% !important; }

  .mw-xl-150 {
    max-width: 150% !important; } }
@media (max-width: 1200px) {
  .mw-lg-130 {
    max-width: 130% !important; }

  .mw-lg-150 {
    max-width: 150% !important; } }
@media (max-width: 991px) {
  .mw-md-130 {
    max-width: 130% !important; }

  .mw-md-150 {
    max-width: 150% !important; } }
@media (max-width: 768px) {
  .mw-sm-130 {
    max-width: 130% !important; }

  .mw-sm-150 {
    max-width: 150% !important; }

  .mw-sm-100 {
    max-width: 100% !important; } }
@media (max-width: 576px) {
  .mw-xs-130 {
    max-width: 130% !important; }

  .mw-xs-100 {
    max-width: 100% !important; } }
.market-image-left-1 {
  max-width: 150%;
  position: relative;
  right: 300px;
  top: 50px; }
  @media (max-width: 991px) {
    .market-image-left-1 {
      max-width: 100%;
      right: 0;
      top: 0; } }

.market-image-right-1 {
  max-width: 150%;
  position: relative;
  top: 50px; }
  @media (max-width: 991px) {
    .market-image-right-1 {
      max-width: 100%;
      right: 0;
      top: 0; } }

.card {
  border-color: #E6E8EC; }

.cap:before {
  content: "";
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  background-color: #4B5353; }
.cap.blue-cap:before {
  background-color: #3C6CB7; }
.cap.yelow-cap:before {
  background-color: #F3A02B; }
.cap.secondary-cap:before {
  background-color: #00CA93; }

.product-card {
  transition: all .2s ease-out;
  will-change: transform;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }
  @media (max-width: 1200px) {
    .product-card {
      min-height: 440px; } }
  @media (max-width: 991px) {
    .product-card {
      min-height: 450px; } }
  @media (max-width: 768px) {
    .product-card {
      min-height: auto; } }
  .product-card .card-footer {
    background: transparent;
    border: none;
    padding-bottom: 32px; }
  .product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.1); }

.elevation-1 {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12); }

.elevation-2 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.04); }

.elevation-3 {
  box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.1); }

.nav-open #responsive-menu-background-wrapper {
  display: none; }
  @media (max-width: 991px) {
    .nav-open #responsive-menu-background-wrapper {
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1400;
      display: block; } }

#primary-nav {
  background: white;
  width: 100%;
  position: fixed;
  z-index: 1500;
  top: 0;
  padding: 16px 1rem;
  border-bottom: 1px solid #E6E8EC; }
  @media (max-width: 991px) {
    #primary-nav {
      max-height: 100vh;
      overflow-y: auto; } }
  #primary-nav .container {
    position: relative; }
  @media (max-width: 991px) {
    #primary-nav .action-buttons .btn {
      width: 100%;
      margin: 10px 0 0 0 !important; } }
  #primary-nav .brand {
    position: relative;
    top: -4px; }
  #primary-nav.navbar-expand-lg .navbar-nav .nav-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px; }
    @media (max-width: 991px) {
      #primary-nav.navbar-expand-lg .navbar-nav .nav-item {
        padding-left: 0;
        padding-right: 0;
        font-size: 16px;
        font-weight: 800; } }
    #primary-nav.navbar-expand-lg .navbar-nav .nav-item .nav-link {
      color: #282E2E; }
      @media (max-width: 991px) {
        #primary-nav.navbar-expand-lg .navbar-nav .nav-item .nav-link {
          padding: 20px 0 8px 0; } }
  @media (max-width: 991px) {
    #primary-nav .dropdown.show .dropdown-caret {
      transform: rotate(180deg); } }
  #primary-nav .dropdown .dropdown-menu {
    top: 90%;
    box-shadow: 0 24px 32px 0 rgba(0, 0, 0, 0.1);
    animation: 0.25s show-menu ease-out forwards; }
    #primary-nav .dropdown .dropdown-menu h3, #primary-nav .dropdown .dropdown-menu h4, #primary-nav .dropdown .dropdown-menu h5, #primary-nav .dropdown .dropdown-menu h6, #primary-nav .dropdown .dropdown-menu p {
      margin: 0; }
    #primary-nav .dropdown .dropdown-menu.show {
      display: none; }
    @media (max-width: 991px) {
      #primary-nav .dropdown .dropdown-menu {
        top: 100%;
        box-shadow: none;
        border: none; }
        #primary-nav .dropdown .dropdown-menu.show {
          display: block; }
          #primary-nav .dropdown .dropdown-menu.show .dropdown-item {
            padding-left: 5px;
            padding-right: 5px;
            white-space: normal;
            border-radius: 3px; }
          #primary-nav .dropdown .dropdown-menu.show .dropdown-divider {
            display: none; } }
  #primary-nav .dropdown:hover .dropdown-menu {
    display: block; }
    @media (max-width: 991px) {
      #primary-nav .dropdown:hover .dropdown-menu {
        display: none; }
        #primary-nav .dropdown:hover .dropdown-menu.show {
          display: block; } }

.tcon {
  appearance: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  transition: 0.3s;
  user-select: none;
  width: 24px;
  background: transparent;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }
  .tcon > * {
    display: block; }
  .tcon:hover, .tcon:focus {
    outline: none; }
  .tcon::-moz-focus-inner {
    border: 0; }

.tcon-menu__lines {
  display: inline-block;
  height: 1.71429px;
  width: 24px;
  border-radius: 1.71429px;
  transition: 0.3s;
  background: #0F3166;
  position: relative; }
  .tcon-menu__lines::before, .tcon-menu__lines::after {
    display: inline-block;
    height: 1.71429px;
    width: 24px;
    border-radius: 1.71429px;
    transition: 0.3s;
    background: #0F3166;
    content: '';
    position: absolute;
    left: 0;
    transform-origin: 1.71429px center;
    width: 100%; }
  .tcon-menu__lines::before {
    top: 6px; }
  .tcon-menu__lines::after {
    top: -6px; }
  .tcon-transform .tcon-menu__lines {
    transform: scale3d(0.8, 0.8, 0.8); }

.tcon-menu--xcross {
  width: auto; }
  .tcon-menu--xcross.tcon-transform .tcon-menu__lines {
    background: transparent; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before, .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform-origin: 50% 50%;
      top: 0;
      width: 24px; }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::before {
      transform: rotate3d(0, 0, 1, 45deg); }
    .tcon-menu--xcross.tcon-transform .tcon-menu__lines::after {
      transform: rotate3d(0, 0, 1, -45deg); }

.tcon-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

#primary-footer {
  background: #091d3d;
  color: white;
  padding: 16px 0 32px 0; }
  #primary-footer .divider {
    border-color: rgba(255, 255, 255, 0.1); }
  #primary-footer .footer-text {
    color: rgba(255, 255, 255, 0.5); }
  #primary-footer h5 {
    margin-bottom: 8px; }
  #primary-footer .links-section {
    margin-bottom: 16px; }
    #primary-footer .links-section a.nav-link {
      padding: 0;
      color: white;
      font-size: 13px; }
      #primary-footer .links-section a.nav-link:hover {
        color: #0073E9; }

.home-hero {
  padding-bottom: 80px;
  background: url("../images/home-hero-bg.jpg") bottom no-repeat; }

svg {
  overflow: visible !important; }

@keyframes show-menu {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
