%section.off-white-bg-color.no-padding-bottom
	.container
		.row
			.col-sm-12.col-lg-6.text-center.text-lg-left
				%h4.blue-text-color.bold-font.no-margin-top
					%img{:src=>"../images/menu-icon-hr.svg", :width=>"36px;"}
					Human Resources
				%h2.market
					Setting a higher standard for primary source verification. 
				%p.body-large
					The best practice approach to license verification and ongoing monitoring.
				%a.btn.btn-primary.half-margin-right{:href=>"#"}
					Get started 
				%a.btn.btn-outline-link{:href=>"#"}
					Get our best practices ebook
			.col-sm-12.col-lg-6
				%img.img-fluid.double-margin-top{:src=>"../images/hr-hero.png"}
%section
	.container
		-2.times do
			.row.align-items-center.text-center.text-lg-left.mb-5.mb-md-0
				.col-sm-12.col-lg-7.order-lg-2
					%img.img-fluid.market-image-right-1{:src=>"../images/hr-lv.jpg"}
				.col-sm-12.col-lg-5.order-lg-1
					%h4.extra-light-text-color.bold-font.no-margin-top
						%img.quarter-margin-right{:src=>"../images/feature-icon-lv.svg", :width=>"50px;"}
						License verification
					%h4.market
						Follow continuing education completions and capture license renewals automatically.
					%p
						See a detailed picture of employee's progress in completing CE requirements and renewing licenses.
					%a.btn.btn-primary{:href=>"#"}
						See license verification
					%a.btn.btn-outline-link{:href=>"#"}
						Get started

			.row.align-items-center.text-center.text-lg-left.mb-5.mb-md-0
				.col-sm-12.col-lg-7
					%img.img-fluid.market-image-left-1{:src=>"../images/hr-position.jpg"}
				.col-sm-12.col-lg-5
					%h4.extra-light-text-color.bold-font.no-margin-top
						%img.quarter-margin-right{:src=>"../images/feature-icon-position.svg", :width=>"50px;"}
						Position requirements
					%h4.market
						Trust that your candidates have the qualifications required for their position.
					%p
						Set a uniform standard for position requirements in EverCheck and eliminate the need to manually cross-reference a spreadsheet for each candidate.
					%a.btn.btn-primary{:href=>"#"}
						See license verification
					%a.btn.btn-outline-link{:href=>"#"}
						Get started

%section




%section.swiper-section.off-white-bg-color
	.container
		.row.justify-content-center.double-margin-bottom
			.col-12.col-md-9.text-center
				%h3.market
					Here's what our clients have to say
	.swiper-wrapper
		.container
			.row.justify-content-center
				.col-9
					.swiper-container
						.swiper-wrapper
							-6.times do
								.swiper-slide 
									.slide-inner.no-padding-top.no-padding-bottom
										.row
											.col
												.swiper-content-wrapper
													%h3.extra-light-text-color.no-margin-top
														Our prior process was completed manually, so I have much more confidence in EverCheck's automated system to ensure we don't miss any primary source verifications.
													%p.no-margin-bottom
														%span.medium-font
															Caroline Osborne
														%br
														%span.extra-light-text-color
															CEO, Big Hospital worldwide



						.swiper-pagination

						.swiper-button-prev
						.swiper-button-next


%section.inverse-section
	.container
		.row.text-center.justify-content-center
			.col-12.col-md-8
				%h3.market
					Question the status quo. 
				%p.body-large
					We’re not the first solution for enterprise healthcare, but we’re the first to push boundaries and bring design and function together seamlessly. Explore how innovation can change the way you work.
				%a.btn.btn-outline-primary.double-margin-bottom.margin-top{:href=>"#"}
					Request a demo
				%p
					Want to make sense of the dollars and cents first? 
					%a.btn-link.btn.quarter-margin-left{:href=>"#"}
						See pricing		
				
