%section.home-hero
	.container
		.row.align-items-center
			.col-sm-12.col-md-6.order-md-2
				%img.img-fluid.mw-lg-130.mw-xl-130.mw-sm-100.margin-bottom{:src=>"../images/home-hero.svg"}
			.col-sm-12.col-md-6.order-md-1.text-center.text-md-left
				%h1.market
					Stay compliant, automatically.
				%p.body-large
					EverCheck delivers low-touch compliance solutions to HR and Education teams in healthcare, freeing you up to do the work that only you can.
%section.double-padding-top.no-padding-bottom
	.container
		.row.justify-content-center
			.col-4.col-md
				%img.img-fluid{:src=>"../images/logo-ascension.png"}
			.col-4.col-md
				%img.img-fluid{:src=>"../images/logo-providence.png"}
			.col-4.col-md
				%img.img-fluid{:src=>"../images/logo-scl.png"}
			.col-4.col-md
				%img.img-fluid{:src=>"../images/logo-UC.png"}
			.col-4.col-md
				%img.img-fluid{:src=>"../images/logo-northwell.png"}

%section
	.container
		.row
			.col.text-center
				%h2.market
					The Platform
				%p.body-large
					Integrated solutions for the modern healthcare workforce.
				%a.btn.btn-primary.margin-top{:href=>"#"}
					See more about the solutions
		.row.mt-5
			.col-12.col-md-4
				%a{:href=>"/hr"}
					.card.text-center.blue-cap.cap.margin-bottom.product-card
						.card-body
							%img.img-fluid.margin-bottom{:src=>"../images/menu-icon-hr.svg", :width=>"109px"}
							%p.body-large.bold-font.blue-text-color
								Human Resources
							%p.light-text-color
								Keep a finger on the pulse of your license compliance with an automated solution to primary source verification and ongoing monitoring. 
						.card-footer
							%p.medium-font.link-color.no-margin-bottom
								Learn more
			.col-12.col-md-4
				%a{:href=>"#"}
					.card.text-center.yelow-cap.cap.margin-bottom.product-card
						.card-body
							%img.img-fluid.margin-bottom{:src=>"../images/menu-icon-education.svg", :width=>"109px"}
							%p.body-large.bold-font.yellow-text-color
								Education
							%p.light-text-color
								Facilitate growth and learning across the organization with a better way to track, manage, and create continuing education. 
						.card-footer
							%p.medium-font.link-color.no-margin-bottom
								Learn more
			.col-12.col-md-4
				%a{:href=>"#"}
					.card.text-center.secondary-cap.cap.margin-bottom.product-card
						.card-body
							%img.img-fluid.margin-bottom{:src=>"../images/menu-icon-wallet.svg", :width=>"109px"}
							%p.body-large.bold-font.secondary-text-color
								Evercheck Wallet
							%p.light-text-color
								The app that gives healthcare professionals the power to upload, store, and send verified licenses to you digitally.
						.card-footer
							%p.medium-font.link-color.no-margin-bottom
								Learn more

%section
	.container
		.row.justify-content-center.double-margin-bottom
			.col-12.col-md-9.text-center
				%h2.market
					Great by themselves. Better together.
				%p.body-large
					Enterprise insights with practical applications. Here's what happens when you combine EverCheck solutions.
		.row.align-items-center.text-center.text-lg-left
			.col-sm-12.col-lg-7
				%img.img-fluid.margin-bottom.market-image-left-1{:src=>"../images/home-products-suite.jpg"}
			.col-sm-12.col-lg-5
				%h4.market
					Follow continuing education completions and capture license renewals automatically.
				%p
					See a detailed picture of employee's progress in completing CE requirements and renewing licenses.
				%h4.extra-light-text-color.no-margin-bottom
					Powered by 
					%img{:src=>"../images/product-icon-education.svg"}
					Education +
					%img{:src=>"../images/product-icon-wallet.svg"} 
					Wallet + 
					%img{:src=>"../images/product-icon-hr.svg"} 
					HR
				%a.btn.btn-primary.double-margin-top{:href=>"#"}
					See a use case for these solutions



%section.swiper-section.off-white-bg-color
	.container
		.row.justify-content-center.double-margin-bottom
			.col-12.col-md-9.text-center
				%h3.market
					300+ healthcare partners strong and growing
				%p.body-large
					We design our software alongside our partners and build solutions that solve real-world problems. 
				%a.btn.btn-primary.margin-top{:href=>"#"}
					Learn about the platform
	.swiper-wrapper.double-padding-top
		.container
			.row.justify-content-center
				.col-9
					.swiper-container
						.swiper-wrapper
							-6.times do
								.swiper-slide 
									.slide-inner.no-padding-top.no-padding-bottom
										.row
											.col
												.swiper-content-wrapper
													%h3.extra-light-text-color.no-margin-top
														Our prior process was completed manually, so I have much more confidence in EverCheck's automated system to ensure we don't miss any primary source verifications.
													%p.no-margin-bottom
														%span.medium-font
															Caroline Osborne
														%br
														%span.extra-light-text-color
															CEO, Big Hospital worldwide



						.swiper-pagination

						.swiper-button-prev
						.swiper-button-next

			
				


%section.inverse-section
	.container
		.row.text-center.justify-content-center
			.col-12.col-md-8
				%h3.market
					Question the status quo. 
				%p.body-large
					We’re not the first solution for enterprise healthcare, but we’re the first to push boundaries and bring design and function together seamlessly. Explore how innovation can change the way you work.
				%a.btn.btn-outline-primary.double-margin-bottom.margin-top{:href=>"#"}
					Request a demo
				%p
					Want to make sense of the dollars and cents first? 
					%a.btn-link.btn.quarter-margin-left{:href=>"#"}
						See pricing



				