%section
	.container
		.row.align-items-center
			.col-md-5.col-lg-6
				%h1.market
					Stay compliant, automatically.
				%p.body-large
					EverCheck delivers low-touch compliance solutions to HR and Education teams in healthcare, freeing you up to do the work that only you can.
			.col-md-7.col-lg-6
				%img.full-width{:src=>"../images/home-hero.svg"}
